In [24]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [26]:
df = pd.DataFrame({
    'color' : ['red','blue','green','green','red','blue']
})

In [36]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [38]:
# Create a LabelEncoder instance
encoder = LabelEncoder()

In [46]:
# Fit and transform the data
encoder.fit_transform(df[['color']])

/opt/anaconda3/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

In [48]:
encoder.transform([['red']])

/opt/anaconda3/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

## Ordinal Encoding

In [51]:
from sklearn.preprocessing import OrdinalEncoder

In [53]:
df = pd.DataFrame({
    'size' : ['small','medium','large','medium','small','large']
})

In [55]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [57]:
encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [59]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [61]:
encoder.transform([['large']])

/opt/anaconda3/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[2.]])

## Target Guided Ordinal Encoding

In [64]:
df = pd.DataFrame({
    'city' : ['New York','London','Paris','Tokyo','New York','Paris'],
    'price' : [200,150,300,250,180,320]
})

In [66]:
df.head()

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180

In [74]:
mean_price = df.groupby('city')['price'].mean().to_dict()
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [76]:
df['city_encoded'] = df['city'].map(mean_price)

In [80]:
df[['price','city_encoded']]

   price  city_encoded
0    200         190.0
1    150         150.0
2    300         310.0
3    250         250.0
4    180         190.0
5    320         310.0