In [4]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [12]:
df = pd.DataFrame({
    'color' : ['red','blue','green','green','red','blue']
})

In [14]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [18]:
# Create an instance of OneHotEncoder
encoder = OneHotEncoder()

In [24]:
encoded = encoder.fit_transform(df[['color']]).toarray()

In [26]:
import pandas as pd

In [32]:
encoded_df = pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [34]:
encoded_df.head()

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0

In [36]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0